
@import url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2);

body {
  background-color: rgb(105, 52, 155);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 150px;

  font-family: "Montserrat";
}

.transparent-box {
  margin-right: 100px;
  width: 340px;
  height: 600px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.key-box {
  margin-left: 100px;
  margin-top: 60px;

  width: 500px;
  height: 500px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #f0f0f0;
  font-size: 200px;
  
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.3);

  background-color: rgb(91, 46, 133);
  border-radius: 50%;
  border: 4px solid rgb(91, 46, 133);
  box-shadow: 0px -15px 15px rgba(255, 255, 255, 0.05),
              inset 0px -15px 15px rgba(255, 255, 255, 0.05),
              0px 15px 30px rgba(0, 0, 0, 0.3),
              inset 0px 15px 30px rgba(0, 0, 0, 0.3);

}

.btn {
  width: 80%;
  height: 90px;
  border-radius: 8px;
  cursor: pointer;

  background-color: rgb(185, 185, 185);
  transition: all 0.5s;
}

.btn:hover {
  box-shadow: 2px 20px 57px 13px rgba(0,0,0,0.3);
  transform: translateY(-5px);
}

.header {
  width: 100%;
  height: 25px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-top: 3px;

  text-align: center;
  color: white;

  background-color: rgb(71, 39, 218);
}

.body {
  width: 100%;
  height: 65px;
  border-top: 1px solid rgba(3, 26, 70, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}